@use "../../../scss/abstracts" as *;

.cardContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 5.5rem;
  right: 0;
  max-width: 30rem;
  min-width: 21rem;
  padding: 2rem 2.5rem 7rem 1rem;
  background-color: $lightBg;
  box-shadow: $boxShadowMd;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  @include mobile() {
    min-width: 24rem;
  }
  @include tablet() {
    position: absolute;
    top: 5rem;
    right: 0;
    min-width: 30rem;
  }
}

.showCard {
  transform: translateX(0%);
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 0.5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.3rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: $brandColor;
  color: $white;
  box-shadow: $boxShadowMd;
}

.imgContainer {
  width: 7rem;
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
  box-shadow: $boxShadowLg;
  img {
    display: block;
    width: 100%;
  }
}

.useName {
  padding: 0.5rem 0.2rem;
  background-color: $brandColor;
  color: $white;
  position: absolute;
  top: -7px;
  right: 10px;
  writing-mode: vertical-rl;
}

.infoContainer {
  width: 100%;
  padding-inline-start: 1rem;
}

.contactName {
  font-size: 1.5rem;
  color: $lightGray;
}

.contactData > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  flex-wrap: wrap;
  @include mobile() {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }

  :first-child {
    font-weight: bold;
    padding-right: 0.5rem;
    @include mobile() {
      flex-basis: 5.7rem;
    }
  }
}
