@use "../../../scss/abstracts" as *;

.contactsContainer {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  @include tablet() {
    height: 78vh;
    flex-grow: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    @include tablet() {
      padding-inline: 3rem;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.contactItem {
  flex-basis: 22rem;
  padding: 0.5rem;
  margin: 0.7rem 1.5rem;
  border-bottom: 1px dotted $lightGray;
  border-left: 0.3rem solid transparent;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover {
    padding-left: 1rem;
  }
}

.selectedContact {
  padding-left: 1rem;
  border-left: 0.3rem solid $brandColor;
}
