* {
  box-sizing: border-box;
}
html,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  height: 70vh;
}
.App {
  text-align: center;
  font-family: "Poppins", "Arial", sans-serif;
}

.mainContainer {
  display: flex;
  padding-top: 1rem;
}
