@use "./abstracts" as *;

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
  @include tablet() {
    font-size: 14px;
  }
  @include desktop() {
    font-size: 16px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $black;
}
